extends layout2

block content
    body
      div.container
        if(user)
          script(type='text/javascript').
              var userId = '#{user.username}';
              var user = '#{user._id}';
              var userPic = '#{user.picture}';
        if(!user)
          script(type='text/javascript').
              var userPic = String;
        div(class='col-sm-12', style='padding-left: 0px; padding-right: 0px')
          h1(style='padding-left: 0px; padding-right: 0px') Nova Proposta
        div(class='col-sm-8', style='padding-left: 0px; padding-right: 0px')
          #map(class='showmap', style='height:500px')
          div#firstPop
            a(class='b-close') entendi
            div.textpop
              texto O SEU TRAJETO DE METRO
            div.textpop
              textored ALGUMAS DICAS
            div.textpop
              textored 1 _
              texto  Pense no seu dia-a-dia e quais são os pontos da cidade mais importantes para a sua rotina.
            div.textpop
              textored 2 _
              texto  Qual linha de metro atenderia todos esses pontos?
            div.textpop
              textored 3 _
              texto  Clique no mapa para desenhar as estações da sua linha.
          div#secondPop(class='bubble')
            div.textpop
              texto PARA COMEÇAR
              div.textpop
              texto A DESENHAR
              textored  A SUA LINHA
            div.textpop
              texto  SELECIONE ESSA FERRAMENTA
          div#loginPop
            div(style='padding-top:5px !important')
              textoblue A SUA LINHA FOI SALVA.
            div
              textored Obrigado!
            div(style='padding-top:0px !important')
              textored(style='font-size:16px') Para torna-la pública precisamos do seu registro:
            a#fbutton(class='col-xs-12', href="#")
              img(src='../images/FACEBOOK.JPG')
            div.texto(style='font-style:italic') ou
            div#log(style='width:85%;margin-left:auto;margin-right:auto;text-align: left !important; margin-top:10px !important')
              div.texto Nome
              input#inputNewName(type='text', class="register")
              div.texto Email
              input#inputNewEmail(type='text', class="register")
              div.texto Senha
              input#inputNewPass(type='password', class="register")
              #figure.texto Selecione seu avatar
              form(style='text-align: center')
                div.col-xs-6
                  div.col-xs-12(style='padding:0')
                    img.avatarlog(src='../images/sebastipao avatar.png')
                  div.col-xs-12(style='padding:0')
                    input(type="radio", name="avatar", value="../images/sebastipao.png")
                div.col-xs-6
                  div.col-xs-12(style='padding:0')
                    img.avatarlog(src='../images/jabutissara avatar.png')
                  div.col-xs-12(style='padding:0')
                    input(type="radio", name="avatar", value="../images/Jabutissara.png")
              div.col-xs-12
                button#register(class='btn login') Criar Conta
                img#ger.loading(src='../images/poi.gif', alt="Só um minutinho...")
            a(class='b-close')
              img(src='../images/close.png')
        div(id='addProp', class='col-sm-4', style='padding-left: 0px; padding-right: 0px')
          div(class='col-sm-12')
            .h2(style='margin-top: 0px') Onde começa a sua linha?
            input#inputIdeaRef1.reff(type='text', placeholder='ex. #aeroportoCarlosPrates', class="incomment",  style='width:100%')
          div(class='col-sm-12')
            .h2 Aponte uma referência no meio do seu trajeto
            input#inputIdeaRef2.reff(type='text', placeholder='ex. #minerão, #pcaSete, #pqMunicipal' , class="incomment",  style='width:100%')
          div(class='col-sm-12')
            .h2 Onde termina a sua linha?
            input#inputIdeaRef3.reff(type='text', placeholder='ex. #UFMG, #taquaril, #hospJuliaKubitscheck', class="incomment",  style='width:100%')
          div(class='col-sm-12')
            .h2 Descreva como essa linha atenderia suas necessidades
            textarea(id="inputIdeaDesc", cols="40", rows="7", placeholder='ex. Usaria muito, porque cria um melhor acesso ao hospital, universidade, meu local de trabalho, etc...', class="incomment",  style='width:100%')
          div(class='col-sm-12')
            button#btnAddIdea(class='btn login col-sm-5') Salvar Proposta
            img.loading(src='../images/poi.gif', alt="Só um minutinho...")
      include ./footer.jade

      script(src='../javascripts/leafletdraw/leaflet.draw.js')
      script(src='../bower_components/bPopup/jquery.bpopup.min.js')
      script(src='/javascripts/drawmap.js')
      script(src='/javascripts/global.js')
