extends layout2

block content
    body
      div.col-xs-12(style='margin-bottom:15px; padding-right:35px; padding-top:60px')
          div(style='border-bottom: dashed; border-width:thin; float:Right; padding-right:0px;')
            h1(style='text-align:right; padding-right:0px;') Fale
              textored  Conosco
      div.container(style='margin-bottom:20px')
        div(class='col-xs-12 col-md-6', style='padding-right:0px; margin-right:75px')
          div
            h2 Fale Conosco
            p.main Esteja à vontade para enviar as suas mensagens, principalmente se:
            p - Tiver dúvidas sobre o funcionamento do site;
            p - Tiver sugestões e recomendações;
            p - Quiser saber mais sobre o projeto;
            p - Quiser colaborar com o projecto;
          div
            h2 Acesso aos dados
            p.main(style='text-align:justify') Toda a informação gerada pelo mais
              textoblue  +
              textored Metro
              texto  também poderá ser disponibilizada, em caráter individual, para fins educacionais ou pesquisas de interesse público desde que seja enviada uma proposta de pesquisa com uma breve descrição do tema, nome, contato do pesquisador, instituição de pesquisa e grau do estudo;
        div#message(class='col-xs-12 col-md-5', style='padding-left:0px; padding-right:0px;')
          div(class='col-xs-12')
            .h2(style='margin-bottom:2px') Email
            input#replyTo(type='text', class="incomment",  style='width:100%')
          div(class='col-xs-12')
            .h2(style='margin-bottom:2px') Assunto
            input#subject(type='text', class="incomment",  style='width:100%')
          div(class='col-xs-12')
            .h2(style='margin-bottom:2px') Mensagem
            textarea(id="content", cols="40", rows="5", class="incomment",  style='width:100%')
          div(class='col-xs-12')
            button#send_email(class='btn login', style='padding-top:2px;padding-bottom:2px;') Enviar

    include ./footer.jade


    script(src='/javascripts/message.js')
