extends layout2

block content
    body
      div.box
        div.container
          h2(style='font-size:50px;') Política de Privacidade
          p(class="lead", style='padding-top:20px;') O registro no site da +MetroBH implica no pedido de alguns dados pessoais, que serão gravados na nossa base de dados: o seu nome e endereço de e-mail. Estes dados poderão ser alterados sempre que deseje através de pedido por e-mail para
            a(href='mailto:maismetrobh@gmail.com')
              textored  maismetrobh@gmail.com
            texto . O único dado visível no site será o seu nome de utilizador, que aparecerá junto aos trajetos propostos. Os demais dados pessoais guardados nunca serão disponibilizados no site nem cedidos a terceiros, e serão apenas utilizados pela +MetroBH para fins estatísticos ou para contato, caso seja necessário.
          p(class="lead", style='padding-top:20px;') Salvo a identidade e informações de contacto, toda a informação gerada pela mais +Metro também poderá ser disponibilizada, em caráter individual, para fins educacionais ou pesquisas de interesse público desde que seja enviada uma proposta de pesquisa com uma breve descrição do tema, nome, contato do pesquisador, instituição de pesquisa e grau do estudo;
      hr
      div.box
        div.container
          h2(style='font-size:50px;') Aviso Legal
          p(class="lead", style='padding-top:20px;') A +MetroBH, através de seu portal na Web tem por objetivo tornar públicas as propostas e discussões para o desenvolvimento do sistema de transporte de Belo Horizonte. Toda a informação apresentada no portal é responsabilidade do seu respectivo autor e atualizada à data da sua publicação.
          p(class="lead", style='padding-top:20px;') A +MetroBH pode suspender, a qualquer momento e sem aviso prévio, as publicações consideradas de caráter abusivo, desde que denunciadas por qualquer utilizador registado na plataforma. Após a denúncia, a +MetroBH tem até 7 dias úteis para avaliar o conteúdo, podendo excluir a publicação e notificar o autor da decisão.
          p(class="lead", style='padding-top:20px;') A +MetroBH pode levar a cabo a qualquer momento e sem aviso prévio, modificações, supressões ou alterações das publicações da sua autoria, podendo alterar a configuração ou a apresentação do portal web.
          p(class="lead", style='padding-top:20px;') O acesso ao portal da Web, bem como a utilização das informações que ele contém, são da exclusiva responsabilidade do utilizador. A +MetroBH não é responsável por quaisquer danos que possam decorrer da utilização do portal da Web, nem pode garantir que o acesso não seja interrompido ou que o conteúdo ou software acedido esteja livre de erros. A +MetroBH também não assume qualquer responsabilidade pela utilização das ligações ou do conteúdo acedido em páginas de terceiros.
      include ./footer.jade
