footer(class="footer")
  div.container(style='padding-bottom:10px')
    div.col-xs-4
      ul.ulmapasite Mapa do site
        li.liredux
          a.mapasite(href="/") Início
        li.liredux
          a.mapasite(href="/addidea/") Novo Trajeto
        li.liredux
          a.mapasite(href="/debate") Debate
        li.liredux
          a.mapasite(href="/contato/") Contato
        li.liredux
          a.mapasite(href="/projeto/") Projeto
        li.liredux
          a.mapasite(href="/disclaimer/") Aviso de Privacidade
    div.col-xs-8(style='padding-right:10px;')
      div.col-xs-12(style='padding-right:0px; margin-top:10px')
        img.siganos(src='../images/footer_03.png', style='float:right')
      ul(class="list-inline", style='float: right; margin-top:10px')
        a(href="https://www.facebook.com/MaisMetroBH/")
          img.redes(src='../images/footer_05.png')
        a(href="https://twitter.com/mais_metro_bh")
          img.redes(src='../images/footer_07.png')
        a(href="https://plus.google.com")
          img.redes(src='../images/footer_06.png')
