html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(charset="utf-8")
        link(rel='stylesheet', href='https://npmcdn.com/leaflet@0.7.7/dist/leaflet.css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.2.3/leaflet.draw.css')
        link(rel='stylesheet', href='../stylesheets/jquery/jquery-ui.css')
        link(rel='stylesheet', href='../stylesheets/style2.css')
        link(rel='stylesheet', href='../stylesheets/bootstrap/bootstrap.min.css')
        link(rel='stylesheet', href="../stylesheets/rateyo/jquery.rateyo.min.css")
        script(src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js")
        script(src='../javascripts/bootstrap/bootstrap.min.js')
        script(src='https://npmcdn.com/leaflet@0.7.7/dist/leaflet.js')

    header(style='margin-bottom:80px;')
      nav(class='navbar banner navbar-fixed-top')
        div.container
          ul(class="list-inline", style='float: right; margin-top:26px; width:400px')
            li.ico.col-md-3
              a(href="/", style="color: rgb(255, 255, 255);") Início
            li.ico.col-md-3
              a(href="/projeto", style="color: rgb(255, 255, 255);") Projeto
            li.ico.col-md-3
              a(href="/contato", style="color: rgb(255, 255, 255);") Contato
            if (!user)
              li.ico.col-md-3
                a(href="/login", style="color: rgb(255, 255, 255);") Login
            if (user)
              li.icofin.col-md-3
                div.col-md-9(style='padding-right:0px; padding-left:0px')
                  a.col-md-12(href="/ideasfind/"+'#{user.username}', style="color: rgb(255, 255, 255); font-size:8px; text-align:right; padding-right:5px; padding-left:5px") Configurações
                  a.col-md-12(href="/logout", style="color: rgb(255, 255, 255); font-size:8px; text-align:right; padding-right:5px; padding-left:5px") Logout
                div.col-md-3(style='padding-right:0px; padding-left:0px; padding-top:1px')
                  img(src='#{user.picture}', style="width:20px;height:20px;border-radius:1px; border-radius:100%")

    block content
