doctype html
html
    title MaismetroBH
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(charset="utf-8")
    link(rel='stylesheet', href='../stylesheets/navbar-static-top.css')
    link(rel='stylesheet', href='../stylesheets/leaflet/leaflet.css')
    link(rel='stylesheet', href='../stylesheets/leaflet/leaflet.draw.css')
    link(rel='stylesheet', href='../stylesheets/jquery/jquery-ui.css')
    link(rel='stylesheet', href='../stylesheets/style2.css')
    link(rel='stylesheet', href='../javascripts/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href="../stylesheets/rateyo/jquery.rateyo.min.css")
    link(rel='stylesheet', href="../stylesheets/bootstrap/font-awesome-4.6.3/css/font-awesome.min.css")
    link(rel='stylesheet', href='../javascripts/slider/jquery.bxslider.css')
    script(src="../javascripts/jquery/jquery.min.js")
    script(src='../javascripts/bootstrap/js/bootstrap.min.js')
    script(src='../javascripts/leaflet/leaflet.js')

    header
      nav(class='navbar banner navbar-default navbar-static-top')
        div.container
          div.navbar-header
            button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
              span(class="sr-only") Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a#navbar-brand(href="/")
              img.bannerLogo(src='../images/+metro.png')
          div(id="navbar" class="navbar-collapse collapse")
            ul.nav.navbar-nav.navbar-right.navtext
              if (!user)
                li
                  a(href="/", style="color: rgb(255, 255, 255)") Início
                li
                  a(href="/projeto", style="color: rgb(255, 255, 255)") Projeto
                li
                  a(href="/contato", style="color: rgb(255, 255, 255)") Contato
                li
                  a(href="/login", style="color: rgb(255, 255, 255)") Login
              if (user)
                li
                  a(href="/", style="color: rgb(255, 255, 255)") Início
                li
                  a(href="/projeto", style="color: rgb(255, 255, 255)") Projeto
                li
                  a(href="/contato", style="color: rgb(255, 255, 255)") Contato
                li.dropdown
                  a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false", style='color:#fff !important') Menu
                    span(class="caret")
                  ul(class="dropdown-menu dropmenu")
                    li
                      img(src='#{user.picture}', style="width:60px;height:60px;border-radius:100%;display: block;margin: auto")
                      a(href="/ideasfind/"+'#{user.username}', style="text-align:center; margin-top:10px; font-weight:bold !important") #{user.username}
                      a(href="/logout", style="text-align:center") Logout


    block content
