extends layout2

block content
	body
		div.container(style='padding-top:20px')
			div(class='col-md-5')
				h1(class='col-md-12', style='font-size:28px !important') Entre com a sua conta de Facebook
				a(class='col-md-12', href="/login/facebook")
					img(src='../images/FACEBOOK.JPG', style='margin-top:20px; width:100%; margin-left:auto; margin-right:auto; margin-bottom:20px')
				div(class='col-md-12', style='font-size:21px; text-align:center; font-style:italic') ou
				#log(class='col-md-12')
					div.h2(style='margin-bottom:2px') Email
					input#logEmail(type='text', class="register")
					div.h2(style='margin-bottom:2px') Senha
					input#logPass(type='password', class="register")
					button#login(class='btn login') Login
			div(class='col-md-2')
			h1(class="col-md-5", style='font-size:21px; float: right; margin-top:25px; font-size:28px !important') Crie uma Conta
				#reg(style='font-size:21px; margin-top:40px')
					div.h2(style='margin-bottom:2px') Nome
					input#inputNewName(type='text', class="register")
					div.h2(style='margin-bottom:2px') Email
					input#inputNewEmail(type='text', class="register")
					div.h2(style='margin-bottom:2px') Senha
					input#inputNewPass(type='password', class="register")
					div.h2(style='margin-bottom:2px') Confirme Senha
					input#inputConfirmPass(type='password', class="register")
				button#register(class='btn login') Criar Conta
	footer(class="footer")
		div.container
			div.col-md-4
				ul.ulmapasite Mapa do site
					li.liredux
						a.mapasite(href="/") Início
					li.liredux
						a.mapasite(href="/addidea/") Novo Trajeto
					li.liredux
						a.mapasite(href="#debate") Debate
					li.liredux
						a.mapasite(href="/contato/") Contato
					li.liredux
						a.mapasite(href="/projeto/") Projeto
			div.col-md-8(style='padding-right:10px;')
				div.col-md-12(style='padding-right:0px; margin-top:10px')
					img.siganos(src='../images/footer_03.png', style='float:right')
				ul(class="list-inline", style='float: right; margin-top:10px')
					a(href="https://www.facebook.com")
						img.redes(src='../images/footer_05.png')
					a(href="https://www.twitter.com")
						img.redes(src='../images/footer_07.png')
					a(href="https://plus.google.com")
						img.redes(src='../images/footer_06.png')


	script(src='/javascripts/login.js')
