extends layout2

block content
	body
		div.container(style='padding-top:20px')
			div.row
				div(class='col-xs-12 col-md-5', style='padding-left:0px; padding-right:0px')
					h1(class='col-xs-12', style='font-size:28px !important') Entre com a sua conta de Facebook
					a(class='col-xs-12', href="/login/facebook")
						img(src='../images/FACEBOOK.JPG', style='margin-top:20px; width:100%; margin-left:auto; margin-right:auto; margin-bottom:20px')
					div(class='col-xs-12', style='font-size:21px; text-align:center; font-style:italic') ou
					#log(class='col-xs-12')
						div.h2(style='margin-bottom:2px') Nome
						input#logEmail(type='text', class="register")
						div.h2(style='margin-bottom:2px') Senha
						input#logPass(type='password', class="register")
						button#login(class='btn login') Login
						img#gol.loading(src='../images/poi.gif', alt="Só um minutinho...")
				div(class='col-xs-12 col-md-5', style='float:right; padding-right:0px')
					h1(class="col-xs-12", style='font-size:21px; float: right; margin-top:25px; padding-left:0px; font-size:28px !important') Crie uma Conta
					#reg.col-xs-12(style='font-size:21px; padding-left:0px; margin-top:32px')
						div.h2(style='margin-bottom:2px') Nome
						input#inputNewName(type='text', class="register")
						div.h2(style='margin-bottom:2px') Email
						input#inputNewEmail(type='text', class="register")
						div.h2(style='margin-bottom:2px') Senha
						input#inputNewPass(type='password', class="register")
						#figure.h2 Selecione seu avatar
						form(style='text-align: center')
							div.col-xs-6
								div.col-xs-12(style='padding:0')
									img.avatarlog(src='../images/sebastipao avatar.png')
								div.col-xs-12(style='padding:0')
									input(type="radio", name="avatar", value="../images/sebastipao.png")
							div.col-xs-6
								div.col-xs-12(style='padding:0')
									img.avatarlog(src='../images/jabutissara avatar.png')
								div.col-xs-12(style='padding:0')
									input(type="radio", name="avatar", value="../images/Jabutissara.png")
					div.col-xs-12
						button#register(class='btn login') Criar Conta
						img#ger.loading(src='../images/poi.gif', alt="Só um minutinho...")
	include ./footer.jade


	script(src='/javascripts/login.js')
	script(src='/javascripts/analytics.js')
